// colors
$primary-color: #ed7171;
$secondary-color: #242936;
$accent-color: #389970;
$grey-bg-color: #f7f7f7;
$light-bg-color: #fff;
$blue-bg-color: #e5e5e5;
$dark-grey-bg-color: #eaebeb;
$text-color: #242936;
$text-color-light: #fff;
$text-grey-color: #82858d;
$text-raven-color: #747a8b;
$border-color: #e4ecf7;
$border-grey-color: #c0c1c5;
$h-line-color: #e8e9f0;
$success-color: #197c50;
$success-text-color: #155724;
$success-bg-color: #d4edda;
$info-color: #025ec2;
$info-text-color: #004085;
$info-bg-color: #f2f6ff;
$warning-color: #fce59c;
$warning-text-color: #856404;
$warning-bg-color: #fff3cd;
$danger-color: #ea5e5c;
$danger-text-color: #8a2935;
$danger-bg-color: #f8d7da;
$silver-bg-color: #a8a7af;
