@import '../../../../../layout/styles/variables/style';

.hero-section {
  height: calc(100vh - 69px - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 600px;
  max-height: 1000px;
  flex-direction: column;
  gap: 23px;

  h3 {
    font-weight: 800;
    font-size: 68px;
    margin: 0;
    line-height: 122%;
    text-align: center;
    letter-spacing: -0.01em;
  }

  p {
    font-weight: 400;
    font-size: 28px;
    line-height: 137.1%;
    margin: 0;
    text-align: center;
    letter-spacing: -0.01em;
  }

  h4 {
    font-weight: 800;
    font-size: 28px;
    line-height: 41px;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 780px) {
  .hero-section {
    margin: 0 20px;
    gap: 15px;

    h3 {
      font-size: 52px;
    }

    p {
      font-size: 22px;
    }

    h4 {
      font-size: 24px;
    }

    img {
      width: 25px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .hero-section {
    h3 {
      font-size: 46px;
    }

    p {
      font-size: 20px;
    }

    h4 {
      font-size: 22px;
    }
  }
}
