@import '../../../../layout/styles/variables/style';

.projects-section {
  width: 1400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 140px;

  .project-category {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    gap: 120px;

    .category-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: calc(1400px - 820px - 40px);
      position: sticky;
      top: 150px;

      h2 {
        margin: 0;
        font-weight: 800;
        font-size: 28px;
        text-align: start;
        line-height: 41px;
        color: $primary-color;
      }

      h3 {
        margin: 0;
        text-align: start;
        font-weight: 800;
        font-size: 48px;
        line-height: 122%;
        letter-spacing: -0.01em;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 144.5%;
        width: 500px;
      }
    }

    .category-gallery {
      display: flex;
      flex-direction: column;
      gap: 60px;

      .category-project {
        display: flex;
        flex-direction: column;

        h4 {
          font-weight: 800;
          font-size: 24px;
          line-height: 122%;
          letter-spacing: -0.01em;
          margin-top: 23px;
        }

        .project-images {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
          justify-content: space-between;

          .project-image-wrapper {
            width: 720px;
            height: 500px;
            overflow: hidden;
            border-radius: 18px;
            position: relative;

            div,
            p {
              width: 100%;
              height: 100%;
              position: absolute;
              pointer-events: none;
              transition: opacity 0.2s ease-in-out;
              opacity: 0;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            div {
              background: rgb(36 41 54);
              border-radius: 18px;
            }

            &:hover {
              & > div {
                background: rgb(36 41 54);
                opacity: 0.4;
              }

              & > p {
                opacity: 1;
                color: $light-bg-color;
                z-index: 100;
              }
            }

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .projects-section {
    width: 90%;

    .project-category {
      width: 100%;
      gap: 80px;

      .category-info {
        h3 {
          min-width: 400px;
        }

        p {
          width: 100%;
        }
      }

      .category-gallery {
        .category-project {
          .project-images {
            flex-wrap: wrap;
            justify-content: space-between;

            .project-image-wrapper {
              width: 100%;
              height: 35vw;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .projects-section {
    gap: 80px;

    .project-category {
      flex-wrap: wrap;
      gap: 40px;

      .category-info {
        position: relative;
        top: 0;

        h3 {
          min-width: 0;
        }
      }

      .category-gallery {
        .category-project {
          .project-images {
            .project-image-wrapper {
              height: 60vw;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .projects-section {
    gap: 50px;
    margin: 50px auto;

    .project-category {
      gap: 20px;

      .category-info {
        gap: 10px;

        h2 {
          font-size: 24px;
        }

        h3 {
          font-size: 38px;
        }

        p {
          font-size: 20px;
        }
      }

      .category-gallery {
        gap: 40px;
      }
    }
  }
}
