@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-ThinIta.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-ExtLt.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-RegIta.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-MedIta.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: local('Helvetica'), url('Helvetica-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
