@use 'sass:color';
@import '../../view/layout/styles/variables/style';

.button-main {
  background-color: $primary-color;
  border: $primary-color;
  color: $light-bg-color;
  width: fit-content;
  margin-top: 20px;
  padding: 12px 25px !important;
  border-radius: 100px !important;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.025em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    margin-left: 4px;
  }

  &:hover {
    opacity: 0.9;
  }

  &.primary {
    background-color: $primary-color !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: color.adjust($primary-color, $lightness: 6%) !important;
      border-color: color.adjust($primary-color, $lightness: 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: color.adjust($primary-color, $lightness: -6%) !important;
      border-color: color.adjust($primary-color, $lightness: -6%) !important;
    }
  }

  &.wide {
    justify-content: space-between;
    color: $primary-color !important;
    background-color: transparent !important;
    border: 2px solid $primary-color !important;
    width: 100%;

    svg {
      font-size: 20px;
    }
  }

  &.secondary {
    background-color: $secondary-color !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: color.adjust($secondary-color, $lightness: 6%) !important;
      border-color: color.adjust($secondary-color, $lightness: 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: color.adjust($secondary-color, $lightness: -6%) !important;
      border-color: color.adjust($secondary-color, $lightness: -6%) !important;
    }
  }

  &.accent {
    background-color: #00a45b !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: color.adjust($accent-color, $lightness: 6%) !important;
      border-color: color.adjust($accent-color, $lightness: 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: color.adjust($accent-color, $lightness: -6%) !important;
      border-color: color.adjust($accent-color, $lightness: -6%) !important;
    }
  }

  &.dark {
    background-color: #1a1a1a !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: color.adjust($secondary-color, $lightness: 6%) !important;
      border-color: color.adjust($secondary-color, $lightness: 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: color.adjust($secondary-color, $lightness: -6%) !important;
      border-color: color.adjust($secondary-color, $lightness: -6%) !important;
    }
  }

  &.light {
    background-color: #e5e5e5 !important;
    color: #000 !important;

    &:hover,
    &:active {
      background-color: color.adjust($light-bg-color, $lightness: -6%) !important;
      border-color: color.adjust($light-bg-color, $lightness: -6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: color.adjust($light-bg-color, $lightness: -10%) !important;
      border-color: color.adjust($light-bg-color, $lightness: -10%) !important;
    }
  }

  &.success {
    background-color: #28a745 !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: color.adjust($success-color, $lightness: 6%) !important;
      border-color: color.adjust($success-color, $lightness: 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: color.adjust($success-color, $lightness: -6%) !important;
      border-color: color.adjust($success-color, $lightness: -6%) !important;
    }
  }

  &.danger {
    background-color: $danger-color !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: color.adjust($danger-color, $lightness: 6%) !important;
      border-color: color.adjust($danger-color, $lightness: 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: color.adjust($danger-color, $lightness: -6%) !important;
      border-color: color.adjust($danger-color, $lightness: -6%) !important;
    }
  }

  &.warning {
    background-color: #ffc107 !important;
    color: $secondary-color !important;

    &:hover,
    &:active {
      background-color: color.adjust($warning-color, $lightness: 6%) !important;
      border-color: color.adjust($warning-color, $lightness: 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: color.adjust($warning-color, $lightness: -6%) !important;
      border-color: color.adjust($warning-color, $lightness: -6%) !important;
    }
  }

  &.bordered {
    background-color: transparent !important;
    border: 2px solid $primary-color !important;
    color: $text-color;
  }

  &.no-border {
    background-color: transparent !important;
    border: none !important;
    color: $secondary-color !important;
    text-decoration: $primary-color underline;
  }

  &.no-border-w-icon {
    background-color: transparent !important;
    border: none !important;
    color: $primary-color !important;
    text-decoration: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 100%;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 0;

    svg {
      cursor: pointer;
      width: 18px !important;
      height: 18px !important;
      margin-left: 8px;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: transparent !important;
      border-color: transparent !important;
      box-shadow: none !important;
    }

    &:hover {
      text-decoration: underline;
      color: $primary-color !important;

      svg {
        animation: slide-right 1s ease-in-out infinite;
        width: 10px;
        @keyframes slide-right {
          0%,
          100% {
            transform: translate(0, 0);
          }

          50% {
            transform: translate(10px, 0);
          }
        }
      }
    }
  }

  &.play-button {
    display: flex;
    align-items: center;
    background-color: transparent !important;
    border: transparent !important;
    gap: 18px;

    &:hover:active,
    &:focus,
    &.active {
      background-color: transparent !important;
      border-color: transparent !important;
      box-shadow: none !important;
    }

    &:hover {
      gap: 16px;

      svg {
        transform: scale(1.2);
        transition: transform 0.8s ease 0s;
        border: 2px solid $light-bg-color;
      }

      span {
        text-decoration: underline;
      }
    }

    svg {
      border: 1px solid $info-color;
      padding: 14px 17px;
      border-radius: 50%;
      transition: transform 0.8s ease 0s;
    }

    span {
      width: 120px;
    }
  }

  &.disabled {
    background-color: color.adjust($text-grey-color, $lightness: 20%) !important;
    color: $secondary-color !important;
    cursor: not-allowed !important;

    &:hover {
      opacity: 1 !important;
    }

    &:focus {
      outline: transparent !important;
    }
  }

  &.edit-btn {
    background-color: transparent !important;
    color: #595c97 !important;
  }

  &.link {
    color: $text-color;
    line-height: 1.6;
    text-decoration: none;
    font-size: 13px;
    transition: 0.1s ease-in;
    font-weight: 500;
    border: none;
    background-color: transparent;

    &:hover:active,
    &:focus,
    &.active {
      background-color: transparent !important;
      border-color: transparent !important;
      box-shadow: none !important;
    }

    &:hover {
      text-decoration: underline;
      color: $primary-color !important;
    }
  }
}
