@import '../../../../../layout/styles/variables/style';

.project-pagination {
  display: flex;
  width: 1400px;
  margin: 0 auto 100px;
  justify-content: space-between;

  button {
    background: none !important;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    text-transform: capitalize;

    svg {
      margin: 0 10px;
    }
  }
}

@media only screen and (max-width: 1450px) {
  .project-pagination {
    width: 90%;
  }
}

@media only screen and (max-width: 780px) {
  .project-pagination {
    margin: 0 auto 50px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
