/** @format */

$primaryColor: #ffffff;
$secondaryColor: #34314d;
$primaryBGColor: #fcfcfc;
$secondaryBGColor: #f1f1f1;
$primaryAccentColor: #6c63ff;
$secondaryAccentColor: #fed200;

.footer {
  display: grid;
  grid-template: 10% 40% 10% 40% 10% / 100vw;
  background-color: $secondaryBGColor;
  border-top: 2px solid $secondaryAccentColor;
  margin-top: 5rem;
  justify-items: center;
  grid-template-areas:
    "quicklinkHead"
    "quicklinks"
    "connectHead"
    "socialIcons"
    "footerBottom";

  ul {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 3rem;
      color: $secondaryColor;
    }
  }

  div {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
  }

  section {
    background-color: $secondaryColor;
    margin-top: 5rem;
    width: 100%;
    color: $primaryBGColor;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    display: grid;
    align-items: center;
    grid-template: 10% 80% 10%/25vw 25vw 25vw 25vw;
    margin-top: 5rem;
    // padding: 0;
    // column-gap: 5rem;
    padding-bottom: 0;
    grid-template-areas:
      "null quicklinkHead connectHead nill"
      "null quicklinks socialIcons nill"
      "footerBottom footerBottom footerBottom footerBottom";

    .quickHead {
      grid-area: quicklinkHead;
    }
    ul {
      grid-area: quicklinks;
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 3rem;
        color: $secondaryColor;
      }
    }

    .connectHead {
      grid-area: connectHead;
    }

    div {
      grid-area: socialIcons;
      align-self: start;
      display: flex;
      align-items: flex-start;
      width: 50%;
      justify-content: space-around;
    }

    section {
      width: 100%;
      grid-area: footerBottom;
      background-color: $secondaryColor;
      margin-top: 5rem;
      color: $primaryBGColor;
      // display: flex;
      justify-content: center;
    }
  }
}
