/** @format */

$primaryColor: #ffffff;
$secondaryColor: #34314d;
$primaryBGColor: #fcfcfc;
$secondaryBGColor: #f1f1f1;
$primaryAccentColor: #6c63ff;
$secondaryAccentColor: #fed200;

.footer {
  display: grid;
  grid-template: repeat(auto, 4) / 100vw;
  background-color: $secondaryBGColor;
  border-top: 2px solid $secondaryAccentColor;
  padding: 4rem 0;
  justify-items: center;
  grid-template-areas:
    "quicklinkHead"
    "quicklinks"
    "connectHead"
    "socialIcons";

  ul {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 3rem;
      color: $secondaryColor;

      a {
        color: inherit;
      }
    }
  }

  div {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
  }
}

.footerBottom {
  background-color: $secondaryColor;
  width: 100%;
  color: $primaryBGColor;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: $primaryBGColor;
    margin-left: 5rem;
    font-weight: 400;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1480px) {
  .footer {
    display: grid;
    align-items: center;
    grid-template: auto auto auto/40vw 40vw;
    justify-items: center;
    justify-content: center;
    padding: 4rem 0rem;
    margin: 0 auto;
    grid-template-areas:
      "quicklinkHead connectHead"
      "quicklinks socialIcons"
      "footerBottom footerBottom";

    h3 {
      font-size: 3rem;
    }

    .quickHead {
      grid-area: quicklinkHead;
    }
    ul {
      grid-area: quicklinks;
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 3rem;
        color: $secondaryColor;
      }
    }

    .connectHead {
      grid-area: connectHead;
    }

    div {
      grid-area: socialIcons;
      align-self: start;
      display: flex;
      align-items: center;
      width: 60%;
      justify-content: space-around;

      svg {
        width: 4rem;
        height: auto;
      }
    }
  }

  .footerBottom {
    width: 100%;
    display: flex;
    height: 100%;
    grid-area: footerBottom;
    background-color: $secondaryColor;
    margin-top: 0rem;
    color: $primaryBGColor;
    justify-content: center;

    a {
      color: $primaryBGColor;
      margin-left: 26vw;
    }
  }
}

@media only screen and (min-width: 1480px) {
  .footer {
    display: grid;
    align-items: center;
    grid-template: auto auto auto/50vw 50vw;
    justify-items: center;
    padding: 4rem 0rem;
    grid-template-areas:
      "quicklinkHead connectHead"
      "quicklinks socialIcons"
      "footerBottom footerBottom";

    .quickHead {
      grid-area: quicklinkHead;
    }
    ul {
      grid-area: quicklinks;
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 3rem;
        color: $secondaryColor;
      }
    }

    .connectHead {
      grid-area: connectHead;
    }

    div {
      grid-area: socialIcons;
      align-self: start;
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: space-around;

      svg {
        width: 5rem;
        height: auto;
      }
    }
  }

  .footerBottom {
    width: 100%;
    display: flex;
    height: 100%;
    grid-area: footerBottom;
    background-color: $secondaryColor;
    margin-top: 0rem;
    color: $primaryBGColor;
    justify-content: center;

    a {
      color: $primaryBGColor;
      margin-left: 20rem;
    }
  }
}
