/** @format */
$primaryColor: #ffffff;
$secondaryColor: #34314d;
$primaryBGColor: #fcfcfc;
$secondaryBGColor: #f7f7f7;
$primaryAccentColor: #6c63ff;
$secondaryAccentColor: #fed200;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: spartan, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $secondaryColor;
  background-color: $primaryBGColor;
  cursor: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.8rem;
  font-weight: 750;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

h6 {
  font-size: 1.8rem;
  text-align: left;
  width: 100%;
  padding-left: 1rem;
  margin: 0.5rem;
  margin-top: 1rem;
  font-weight: 500;
}

p {
  font-size: 1.8rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: $primaryAccentColor;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.selected {
  font-weight: 750;
  border-bottom: 4px solid $secondaryAccentColor;
}

button,
.secondaryButton {
  background-color: $primaryAccentColor;
  border: 4px solid transparent;
  padding: 1rem 2rem;
  color: $primaryColor;
  font-weight: 550;
  font-family: spartan, "sans-serif";
  border-radius: 0.6rem;
  font-size: 2.4rem;
  line-height: 1.5;
  cursor: pointer;
  margin: 0.3rem;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: $primaryAccentColor;

    box-shadow: 0.5px 0.5px 2.2px 2px rgb(0 0 0 / 22%);
  }

  &:active {
    background-color: hsl(243, 90%, 66%);
    box-shadow: 0.5px 0.5px 2px 0px rgba(0, 0, 0, 0.2);
  }

  &:focus-visible {
    outline: 2px solid $secondaryColor;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
  &:disabled {
    background-color: #d3d3d3;
    color: #afafaf;
    cursor: not-allowed;
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}

.secondaryButton {
  background-color: transparent;
  border: 4px solid $secondaryAccentColor;
  color: $secondaryColor;

  &:hover {
    background-color: hsl(0, 0%, 100%);
  }

  &:active {
    background-color: #f1f1f1;
  }

  &:focus-visible {
    outline: 2px solid $secondaryColor;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
  &:disabled {
    background-color: #d3d3d3;
    color: #afafaf;
    cursor: not-allowed;
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}

figcaption {
  font-size: 1.4rem;
  font-style: italic;
  width: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

label {
  font-size: 1.8rem;
}

input,
textarea {
  font-family: spartan, sans-serif;
  padding: 1.6rem;
  font-size: 1.5rem;
  border: none;
  width: 20rem;
  height: 6rem;
  background-color: #f7f7f7;
  border-radius: 0.4rem;
  margin: 0.3rem;
  border-bottom: 2.2px solid $secondaryColor;

  &:focus {
    outline: none;
    border-bottom: 2.2px solid $secondaryAccentColor;
  }

  &:disabled {
    background-color: #dbdbdb;
    color: #afafaf;
    cursor: not-allowed;
    box-shadow: none;
    border-bottom: 2.2px solid #838383;
  }
}

.inputWarning {
  border-bottom: 2.2px solid rgb(255, 79, 25);
  background-color: rgb(252, 235, 235);
}

.inputSuccess {
  border-bottom: 2.2px solid rgb(8, 255, 70);
  background-color: rgb(235, 252, 237);
}

li {
  font-size: 1.8rem;
}

.progress {
  width: 100vw;
  height: 3px;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100000;

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    animation: fill-loader-1 1.5s infinite ease;
    background: $secondaryAccentColor;
    width: 100%;
    height: 100%;
    will-change: transform;
    transition: all 200ms ease;
  }
}

@keyframes fill-loader-1 {
  0% {
    transform-origin: 0% 0;
    transform: scaleX(0);
  }

  49% {
    transform: scaleX(1);
    transform-origin: 0% 0;
  }

  51% {
    transform: scaleX(1);
    transform-origin: 100% 0;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 0;
  }
}

.spinnerHolderFull {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.26);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  .spinner {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
    border: 13px solid $secondaryColor;
    border-right: 13px solid transparent;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#currentDot {
  background-color: $secondaryColor;
}

//service tabs
#current {
  background-color: $secondaryBGColor;
}

form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: flex-start;
  margin: 0 auto;

  label {
    input {
      display: block;
      width: 100%;
      color: $primaryBGColor;
      font-size: 1.8rem;
      margin: 1rem 0;
      border: none;
      padding: 1.4rem;
    }
  }
  button {
    width: 50%;
    padding: 0.4rem;
    background-color: $secondaryColor;
  }
}

.cursor {
  background-color: rgb(25, 0, 250);
  padding: 1rem;
  border-radius: 50%;
  position: fixed;
  z-index: 100000;
  mix-blend-mode: difference;
  pointer-events: none;
  -moz-transition: none;
  transition: 0;
}

.successMessage,
.failureMessage {
  font-weight: 700;
  width: 100%;
  margin: 4rem 2rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;

  h4 {
    margin: 3.5rem 1.5rem;
  }

  svg {
    height: 6rem;
    width: auto;
    margin: 0 1.5rem;
  }
}

.successMessage {
  background-color: #35ca9e;
  color: white;
}

.failureMessage {
  background-color: #f56064;
  color: white;
}

.popupModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.623);
  position: fixed;
  left: 0;
  z-index: 500;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  section {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }

  .successMessage,
  .failureMessage {
    z-index: 1000;
    pointer-events: all;
    background-color: #35ca9e;
    color: white;
    display: flex;
    width: 80%;
    padding: 8rem 0vw;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    box-shadow: -1px 0px 17px 2px #00000029;

    a {
      color: white;
    }

    span {
      width: fit-content;
      font-size: 1.8rem;
      font-weight: 600;
      background-color: $secondaryColor;
      padding: 1.5rem 3.5rem;
      box-shadow: -1px 0px 4px 2px #00000029;
      border-radius: 0.6rem;
      cursor: pointer;
    }
    h4 {
      font-size: 1.8rem;
      padding: 0rem 4rem;
      width: 90%;
      text-align: center;
      display: flex;
      align-items: center;
    }
    svg {
      margin-left: 1rem;
      color: $secondaryColor;
      width: 6rem;
      height: auto;
    }
  }

  .failureMessage {
    background-color: #f56064;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: spartan, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: $secondaryColor;
    background-color: $primaryBGColor;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 8.5rem;
    font-weight: 750;
  }
  h2 {
    font-size: 5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 4rem;
    font-weight: 600;
  }

  h4 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  p {
    font-size: 2rem;
  }

  a {
    font-size: 2rem;
    text-decoration: none;
    color: $primaryAccentColor;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    background-color: $primaryAccentColor;
    border: 5.5px solid transparent;
    padding: 0.7vw 1.5vw;
    color: $primaryColor;
    font-weight: 550;
    font-family: spartan, "sans-serif";
    border-radius: 0.4vw;
    font-size: 1.2vw;
    line-height: 1.5;
    cursor: pointer;
    margin: 0.2vw;
    box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: hsl(243, 100%, 71%);
      box-shadow: 0.5px 0.5px 2.2px 2px rgb(0 0 0 / 22%);
    }

    &:active {
      background-color: #5c54fc;
      box-shadow: 0.5px 0.5px 2px 0px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: none;
    }
  }

  .secondaryButton {
    background-color: transparent;
    border: 5.5px solid $secondaryAccentColor;
    color: $secondaryColor;

    &:hover {
      background-color: hsl(0, 0%, 100%);
    }

    &:active {
      background-color: #f1f1f1;
    }

    &:focus-visible {
      outline: 2px solid $secondaryColor;
    }
    &:focus:not(:focus-visible) {
      outline: none;
    }
    &:disabled {
      background-color: #d3d3d3;
      color: #afafaf;
      cursor: not-allowed;
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
    }
  }

  input,
  textarea {
    font-family: spartan, sans-serif;
    padding: 0.6vw;
    font-size: 1vw;
    border: none;
    background-color: #f7f7f7;
    border-radius: 0.2vw;
    margin: 0.2vw;
    border-bottom: 2.2px solid $secondaryColor;
    width: 20vw;
    height: 3.7vw;

    &:focus {
      outline: none;
      border-bottom: 2.2px solid $secondaryAccentColor;
    }
  }

  label {
    font-size: 2.6rem;
  }

  .inputWarning {
    border-bottom: 2.2px solid rgb(255, 79, 25);
    background-color: rgb(252, 235, 235);
  }

  .inputSuccess {
    border-bottom: 2.2px solid rgb(8, 255, 70);
    background-color: rgb(235, 252, 237);
  }

  li {
    font-size: 1vw;
  }

  .progress {
    width: 100vw;
    height: 3px;
    background-color: #f7f7f7;
    position: fixed;
    top: 0vw;
    left: 0vw;
    overflow: hidden;
    z-index: 100000;

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      animation: fill-loader-1 1.5s infinite ease;
      background: $secondaryAccentColor;
      width: 100%;
      height: 100%;
      will-change: transform;
      transition: all 200ms ease;
    }
  }

  @keyframes fill-loader-1 {
    0% {
      transform-origin: 0% 0;
      transform: scaleX(0);
    }

    49% {
      transform: scaleX(1);
      transform-origin: 0% 0;
    }

    51% {
      transform: scaleX(1);
      transform-origin: 100% 0;
    }
    100% {
      transform: scaleX(0);
      transform-origin: 100% 0;
    }
  }

  .spinnerHolderFull {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.26);
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    .spinner {
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
      position: relative;
      border: 15px solid $secondaryColor;
      border-right: 15px solid transparent;
      animation: spin 1s linear infinite;
    }
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .popupModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
    position: fixed;
    left: 0;
    z-index: 500;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    section {
      width: 100vw;
      height: 100vh;
      background-color: transparent;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
    }

    .successMessage,
    .failureMessage {
      z-index: 1000;
      pointer-events: all;
      background-color: #35ca9e;
      color: white;
      display: flex;
      width: fit-content;
      padding: 10rem 0vw;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      flex-direction: column;
      box-shadow: -1px 0px 17px 2px #00000029;

      a {
        color: white;
      }

      span {
        width: fit-content;
        font-size: 2rem;
        font-weight: 600;
        background-color: $secondaryColor;
        padding: 1.5rem 4rem;
        box-shadow: -1px 0px 4px 2px #00000029;
        border-radius: 0.6rem;
        cursor: pointer;
      }
      h4 {
        font-size: 2.5rem;
        padding: 0rem 4rem;
        width: 28ch;
        text-align: center;
        display: flex;
        align-items: center;
      }
      svg {
        margin-left: 1rem;
        color: $secondaryColor;
        width: 6rem;
        height: auto;
      }
    }

    .failureMessage {
      background-color: #f56064;
    }
  }
}
