/** @format */
.cursor {
  background-color: rgb(25, 0, 250);
  padding: 1rem;
  border-radius: 50%;
  position: fixed;
  z-index: 100000;
  mix-blend-mode: difference;
  pointer-events: none;
  /* transform: scale(4, 5); */
}

.hoverIt:hover ~ .cursor {
  transform: scale(8, 8);
  /* padding: 4rem; */
  background-color: red;
}
