/** @format */
$primaryColor: #ffffff;
$secondaryColor: #34314d;
$primaryBGColor: #fcfcfc;
$secondaryBGColor: #f7f7f7;
$primaryAccentColor: #6c63ff;
$secondaryAccentColor: #fed200;

.headerMobile,
.headerDesktop {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 20vw;
  position: fixed;
  z-index: 100;
  background-color: $primaryBGColor;
  margin: 0 auto;
  opacity: 1;
  box-shadow: 0px 0px 3px #00000085;
  transition: opacity 0.1s ease-in;

  .burgerButton {
    margin-right: 2vw;
    cursor: pointer;
    svg {
      height: 6.5vw;
      width: 6.5vw;
    }
  }

  h3 {
    font-size: 4.5vw;
    color: $secondaryColor;
  }

  .logo {
    svg {
      width: 5rem;
      height: 5rem;
    }
  }

  .hireMeButton {
    border: 4px solid $secondaryAccentColor;
    background-color: transparent;
    color: $secondaryColor;
    font-size: 4vw;
    margin-left: 6vw;
    padding: 1vw 3vw;
  }
}

.burgerMenuOpen {
  position: fixed;
  top: 0;
  z-index: 200;
  left: -100vw;
  background-color: $primaryBGColor;
  width: 80vw;
  height: 100vh;
  transition: all 0.3s ease;

  .navHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 100%;
    padding-right: 18vw;
    box-shadow: 0px 0px 3px #00000085;

    .closeNav {
      margin-right: 4.2vw;
      height: 5vw;
      width: 5vw;
      cursor: pointer;
    }

    .logoMenu {
      width: 9vw;
      height: 9vw;
      margin-right: 3vw;
    }

    h3 {
      font-size: 4.5vw;
    }
  }
  ul {
    margin-top: 6vw;
    margin-left: -5vw;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 8vw;
      font-weight: 500;
      cursor: pointer;
      a {
        color: $secondaryColor;
      }
      svg {
        margin-right: 3vw;
        margin-bottom: 1vw;
      }
    }
  }
}

.menuBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(32, 32, 32, 0.356);
  position: fixed;
  top: 0vw;
  z-index: 90;
  pointer-events: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.headerDesktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .headerMobile {
    display: none;
  }

  .headerDesktop {
    display: flex;
    height: auto;
    width: 100vw;
    padding: 2rem 20rem;
    box-shadow: none;
    justify-content: space-between;

    h3 {
      font-size: 2.5rem;
    }

    .logo {
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.8rem;
        margin-bottom: 0.5rem;
        width: 4rem;
        height: auto;
      }
    }

    .navLinks {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
          list-style: none;
          text-align: center;
          a {
            color: $secondaryColor;
            font-size: 2.2rem;
            margin-right: 0.7vw;
            margin-left: 0.7vw;
          }
        }
      }
    }

    .hireMeButton {
      font-size: 2.2rem;
      padding: 0.7rem 2rem;
    }
  }
}
